<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

<title>BazaarFunda Price Movement Alert</title>
</head>

<body bgcolor="#8d8e90">

<table width="100%" border="1" cellspacing="0" cellpadding="0" bgcolor="#8d8e90">
  <tr>
    <td><table width="600" border="0" cellspacing="0" cellpadding="0" bgcolor="#FFFFFF" align="center">
        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td ><a href="http://www.bazaarfunda.com"><img src="http://www.bazaarfunda.com/static/img/logo-1.png" width="250" height="80" border="0" alt=""/></a></td>
                
              </tr>
              
            </table></td>
        </tr>
         
        <tr>
          <td align="center"><a href= "http://www.bazaarfunda.com" target="_blank"><img src="http://www.bazaarfunda.com/static/img/logo-1.jpg" alt="" width="598" height="249" border="0"/></a></td>
        </tr>

        <tr>
          <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
              <tr>
                <td width="7%">&nbsp;</td>
                <td width="58%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td>&nbsp;</td>
                  </tr>
                  <tr>
                    <td align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td width="95%"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td height="35" align="left" valign="middle" style="border-bottom:2px dotted #000000"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#000000; font-size:25px"><strong><em>Your Price Alert</em></strong></font></td>
                          </tr>
                          <tr>
                            <td align="left" valign="top"><font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">Your phone is now available at your desired price. Hurry get your <a href="[ProductURL]">[ProductName]</a></font> <font style="font-family:Verdana, Geneva, sans-serif; color:#05bcda; font-size:12px; line-height:20px"><a href= "http://yourlink" style="color:#05bcda; text-decoration:none"></a></font></td>
                          </tr>
                          
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td width="43%"><img src="http://www.bazaarfunda.com//static/img/favicons/android-icon-192x192.png" width="150" height="130" border="0" alt=""/></td>
                                <td width="57%" align="left" valign="top"><font style="font-family: Georgia, 'Times New Roman', Times, serif; color:#05bcda; font-size:20px"><strong><em>BazaarFunda</em></strong></font> <br />
                                  <font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">Experience the unique power of review analytics while purchasing mobile phones! A first of it's kind in the field of online shopping</font> <font style="font-family:Verdana, Geneva, sans-serif; color:#05bcda; font-size:12px; line-height:20px"><a href= "http://yourlink" style="color:#05bcda; text-decoration:none"></a></font><font style="font-family: Verdana, Geneva, sans-serif; color:#000000; font-size:13px; line-height:21px">&nbsp; </font></td>
                              </tr>
                            </table></td>
                          </tr>
                          <tr>
                            <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                              <tr>
                                <td height="10" style="border-bottom:4px solid #d0d1d3"></td>
                              </tr>
                              <tr>
                                <td height="10"></td>
                              </tr>
                            </table></td>
                          </tr>
                          
                        </table></td>
                        <td width="5%" style="border-right:2px dashed #95989a">&nbsp;</td>
                      </tr>
                    </table></td>
                  </tr>
                </table></td>
                <td width="35%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                  <tr>
                    <td width="82%" align="left" valign="top"><table width="100%" border="0" cellspacing="0" cellpadding="0">
                      <tr>
                        <td height="10"> </td>
                      </tr>
                      <tr>
                        <td><table width="100%" border="0" cellspacing="0" cellpadding="0">
                          <tr>
                            <td><a style="text-align:center; margin-left: 25%"  href="[ProductURL]" target="_blank"><img src="[ProductImage]" alt="buy her"  height="201" border="0" /></a></td>
                            
                          </tr>
                          <tr>
                            <td>
                              <div style = "margin-left:22%; margin-top:10px">
                              <a href="[ProductURL]"> Lowest Price ₹ [ProductPrice] </a>
                            </div>
                            </td>
                          </tr>
                          
                          <tr>
                            <td>&nbsp;</td>
                          </tr>
                        </table></td>
                      </tr>
                    </table></td>
                    <td width="8%">&nbsp;</td>
                  </tr>
                </table></td>
              </tr>
            </table></td>
        </tr>
        
      </table></td>
  </tr>
</table>

</body>
</html>
